
.form-add-player{
    margin-top: 15px;
    text-align: left;
}

.logo12{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 450px;
}

.logoposs{
    margin-top: 50px;
    width: 100px;
}